@model IEnumerable<NotificationDashboardPrototype.Data.Server>
@{
    ViewBag.Title = "Index";
}
@section Scripts{
    @*<script src="~/js/servers-index.js"></script>*@
}

<div>

    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>


            <th>
                
            </th>

            <th>
                
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                <td>
                    
                    
                </td>
                <td>
                    


                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ServerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ServerId }) @*|
                    @Html.ActionLink("Delete", "Delete", new { id = item.ServerId })*@
                </td>
            </tr>
   
            foreach (var notification in item.Notifications)
            {
                <tr>
                    <td>
                        <div class="@notification.Status">
                            @Html.DisplayFor(modelItem => notification.Status)
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => notification.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => notification.StatusType)
                    </td>
                    <td>
                        
                    </td>
                </tr>
            }

        }

    </table>






</div>
