@model IEnumerable<NotificationDashboardPrototype.Data.Server>
@{
    ViewBag.Title = "Index";
}
@section Scripts{
    @*<script src="~/js/servers-index.js"></script>*@
}



<div>

    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>


            <th>
                
            </th>

            <th>
                
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="serverrow">
                <th>
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                <td>
                   
                    
                </td>
                <td>
                    


                </td>

                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ServerId }) |*@
                    @Html.ActionLink("server info", "Details", new { id = item.ServerId }, new { @class = "serverlink" }) @*
                    @Html.ActionLink("Delete", "Delete", new { id = item.ServerId })*@
                </td>
            </tr>

            foreach (var notification in item.Notifications)
            {
                <tr>
                    <td>
                        <div class="@notification.Status">
                            @*@Html.DisplayFor(modelItem => notification.Status)*@
                            
                            @if (notification.Status.ToString() == "Failure")
                            {
                                <i class="glyphicon glyphicon-wrench"></i>
                            }
                            @if (notification.Status.ToString() == "Success")
                            {
                                <i class="glyphicon glyphicon-ok-circle"></i>
                            }
                            @if (notification.Status.ToString() == "Unknown")
                            {
                                <i class="glyphicon glyphicon-info-sign"></i>
                            }
                       
                        </div>
                    </td>
                    <td>
                        <div class="notificationmessage">
                            @Html.DisplayFor(modelItem => notification.Message)
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => notification.StatusType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => notification.DateCreated)
                    </td>
                </tr>
            }

        }

    </table>






</div>
